<div class = "container">
  <div class = "row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <div class = "btn">Button</div>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <div class = "btn">Button</div>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <div class = "btn">Button</div>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <div class = "btn">Button</div>
    </div>
  </div>

</div>
