<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <ul class="nav navbar-nav">
    <a href = "#"><li class = "nav-item">Home</li></a>
    <a href = "#"><li class = "nav-item">About</li></a>
    <a href = "#"><li class = "nav-item">Contact</li></a>
  </ul>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
